* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background-color: rgba(67, 67, 143,.7);
}

.results-supremo {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-inside {
    margin: 0 10rem;
}

.results-info-container {
    background-color: #fff;
    width: 35rem;
    min-width: 30.2rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
   
}

.image-result {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.image-result img {
    width: 30rem;
    height: 25rem;
}

.title-result {
    font-size: 3rem;
    color: #fff;
    width: 100%;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.results-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-title-result {
    font-size: 4rem;
    font-weight: bolder;
    color:rgb(18, 41, 105);
}

.correct-answers {
    font-size: 2.5rem;
}

.try-again-container {
    display: flex;
    justify-content: center;
}

.try-again-container button {
    width: 13rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: #fff;
    border: .3rem solid rgb(10, 20, 105);
    margin-bottom: 2rem;
    cursor: pointer;
    color: rgb(10, 20, 105);
    font-weight: bolder;
}

.try-again-container button:active {
    background-color: #eee;
    
}

.congragulations {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.congragulations div {
    width: 5rem;
    height: 5rem;
    background-color: aqua;
    opacity: .9;
    position: relative;
    top: -4rem;
    animation-name: Confeti;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.final-results {
    color: rgb(67, 212, 31);
    font-size: 7rem;
    font-weight: bolder;
}

.congragulations div:nth-child(1) {
    background-color:#ff9bc3;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
}

.congragulations div:nth-child(2) {
    background-color:#876598;
    animation-timing-function: ease;
}
.congragulations div:nth-child(3) {
    background-color: #f00079;
    animation-timing-function: ease-out;
}

.congragulations div:nth-child(4) {
    background-color: #de8abb;
    animation-timing-function: ease-in;
    animation-delay: 3s;
}

.congragulations div:nth-child(5) {
    background-color: #e34c00;
    animation-timing-function: ease-in-out;
}

.congragulations div:nth-child(5) {
    background-color: #c95567;
    animation-timing-function: ease;
}

.congragulations div:nth-child(6) {
    background-color: #ff6bb6;
    animation-timing-function: ease-in-out;
}

.congragulations div:nth-child(7) {
    background-color: #ff99f4;
    animation-timing-function: ease-in;
    animation-delay: 1s;
}

.congragulations div:nth-child(8) {
    background-color: #c95567;
    animation-timing-function: ease-out;
}



@media screen and (max-width:340px) {
    .title-result {
        text-align: center;
    }
}

@keyframes Confeti {
    0% {
        top: -2rem;
    }

    50% {
        top: 30rem;
        opacity: .5;
    }

    90% {
        top: 50rem;
        opacity: .1;
    }

    100% {
        opacity: .0;
        top: 60rem;
    }
}